<% include ../partials/header %>

  <div class='movie-container'>
  <div class="row movie-display">
    <div class='poster'>
      <img src='<%= Poster %>'>
    </div>
    <div class='details'>
      <h3 class='title'><%= Title %></h3>
      <p class='detail'><span class='key'>Featuring</span>: <%= Actors %></p>
      <p class='detail'><span class='key'>Synopsis</span>: <%= Plot %></p>
      <p class='detail'><span class='key'>Released</span>: <%= Year %></p>
      <p class='detail'><span class='key'>Genre</span>: <%= Genre %></p>
      <!-- <p id='hide'><% tomatoRating %></p> -->
      <p class='detail'><img src='/images/tomato_310436.jpg' id='tomato-image'>: <%= tomatoRating * 10%>%</p>
<!--       <form action="/favorites" method="post" role="form" class='favorites-button text-center'>
        <input type='hidden' name='title' value='<%= Title %>'>
        <input type='hidden' name='imdbid' value='<%= imdbID %>'>
        <input type='hidden' name='year' value='<%= Year %>'>
        <input type='hidden' name='poster' value='<%= Poster %>'>
        <% if(favorited) {%>
        <button type="submit" class="btn btn-primary show-add hidden">Add to CouchList</button>
        <a href='/movies/<%= imdbID %>' class='btn btn-danger show-remove'>Remove from CouchList</a>
        <% }else if (!favorited) { %>
        <button type="submit" class="btn btn-primary show-add">Add to CouchList</button>
        <a href='/movies/<%= imdbID %>' class='btn btn-danger show-remove hidden'>Remove from CouchList</a>
        <% } %>
      </form> -->
    </div>
  </div>
  <% include ../partials/button %>

<% include ../partials/footer %>





