<% include ../partials/header %>

<div class="movie-container">
  <div class="row movie-display">
    <div class="poster">
      <img src="<%= Poster %>" />
    </div>
    <div class="details">
      <h3 class="title"><%= Title %></h3>
      <p class="detail"><span class="key">Featuring</span>: <%= Actors %></p>
      <p class="detail"><span class="key">Synopsis</span>: <%= Plot %></p>
      <p class="detail"><span class="key">Released</span>: <%= Year %></p>
      <p class="detail"><span class="key">Genre</span>: <%= Genre %></p>
      <!-- <p id='hide'><% tomatoRating %></p> -->
      <p class="detail">
        <img src="/images/tomato_310436.jpg" id="tomato-image" />: <%=
        tomatoRating * 10%>%
      </p>
    </div>
  </div>
  <% include ../partials/button %> <% include ../partials/footer %>
</div>
