<% include ../partials/header1 %>

  <div class='container'>
  <div class='row text-center'>
    <div class='col-md-12'>
      <h1 class='movie-title'><%=   Title    %></h1>
    </div>
  </div>
  <hr>
  <div class="row movie-display">
    <div class="col-md-6">
      <img src='<%= Poster %>' class='poster'>
      <span class='small no-image'></span>
    </div>
    <div class='col-md-6 details'>
      <p class='detail'><span class='key'>Featuring</span>: <%= Actors %></p>
      <p class='detail'><span class='key'>Synopsis</span>: <%= Plot %></p>
      <p class='detail'><span class='key'>Released</span>: <%= Year %></p>
      <p class='detail'><span class='key'>Genre</span>: <%= Genre %></p>
      <!-- <p id='hide'><% tomatoRating %></p> -->
      <img src='/images/tomato_310436.jpg' id='tomato-image'><p id='last-p'>: <span class='tomato'><%= tomatoRating %></span></p>
      <form action="/favorites" method="post" role="form" class='favorites-button text-center'>
        <input type='hidden' name='title' value='<%= Title %>'>
        <input type='hidden' name='imdbid' value='<%= imdbID %>'>
        <input type='hidden' name='year' value='<%= Year %>'>
        <input type='hidden' name='poster' value='<%= Poster %>'>
        <% if(favorited) {%>
        <button type="submit" class="btn btn-primary show-add hidden">Add to CouchList</button>
        <a href='/movies/<%= imdbID %>' class='btn btn-danger show-remove'>Remove from CouchList</a>
        <% }else if (!favorited) { %>
        <button type="submit" class="btn btn-primary show-add">Add to CouchList</button>
        <a href='/movies/<%= imdbID %>' class='btn btn-danger show-remove hidden'>Remove from CouchList</a>
        <% } %>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <p class='text-center back-button'><a href="javascript:history.go(-1)" class='btn btn-default back-btn'>Back</a></p>
  </div>

<% include ../partials/footer %>





